@model Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/@Model.Images.Find(x=>x.IsMain).ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Category.Name</p>
            <p class="card-text">@Model.Price$</p>
            <a asp-action="index" class="btn btn-outline-primary">Go back</a>
        </div>
    </div>
    <div>
        <img width="100px" src="~/img/@(Model.Images.FirstOrDefault(x=>x.IsMain == false)!=null?Model.Images.FirstOrDefault(x=>x.IsMain == false).ImageUrl:Model.Images.Find(x=>x.IsMain).ImageUrl)">
    </div>
</div>
