@model Category
@{
    ViewData["Title"] = "Info";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Category Info</h4>
            <p class="card-description">
                @Model.Name
            </p>
            <blockquote class="blockquote">
                <p class="mb-0">@Model.Description</p>
            </blockquote>
        </div>
    </div>
</div>

